

<a href="{{object.id}}/apply/" class="btn btn-lg btn-primary" id="load_here">Apply</a>
<a class="btn btn-lg btn-primary" href="{{object.id}}/save/" role="button">Save</a>


<h1>{{ object.title }}</h1>

<h3>Details: {{object.details}}</h3>

<h2>Location: {{object.location}}</h2>

<h2>Remuneration: {{object.remuneration}}</h2>

<h2>Start Date: {{object.start_date}}</h2>



<a class="btn btn-lg btn-primary" href="{{object.id}}/apply/" id="load_here">Apply</a>
<a class="btn btn-lg btn-primary" href="{{object.id}}/save/" role="button">Save</a>


